page-set {
  .toolbar-background {
    background: #e8f0f8;
  }
  .scroll-content {
    padding: 0!important;
  }
  .cart {
    color: #333333;
    float: right;
    background-color: transparent;
    box-shadow: unset;
    padding: 0 0.5em;
  }
  .bag {
    border-radius: 0;
    position: fixed;
    bottom: 0;
    margin: 0;
    background-color: #f89a27;
    color: #ffffff;
    padding: 2.2rem 2.6rem;
  }
  .cat_product {
    border: 0.5px solid #ccc;
    width: 50%;
    float: left;
    background-color: #eeeeee;
  }
  .cat_product img {
    display: block;
    margin: auto;
  }
  .cat_product p {
    margin: 5px;
  }
  .category_list {
    height: 50px;
    white-space: nowrap;
    background: #f89a27;
    color: #fff;
    margin: 0;
    padding: 0;

  }
  .nav {
    overflow-x: auto;
    overflow-y: hidden;
    height: 65px;
    white-space: nowrap;
    background: #3d749d;
    color: #fff;
    margin: 0;
    padding: 0;

  }
  .nav ul {
    font-size: 18px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    white-space: nowrap;
    text-align: center;
  }
  .nav ul li {
    float: none;
    display: inline-block;
  }
  .nav ul li a {
    float: none;
    padding: 18px 22px;
    color: #fff;
  }
  .nav ul li a:active {
    color: #fcb85c;
  }
  .category_list ul {
    font-size: 18px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    white-space: nowrap;
    text-align: center;
    margin: 15px 0!important;
    width: 100%;
  }
  .category_list ul li {
    float: none;
    display: inline-block;
    width:33.33%;
  }
  .category_list ul li a {
    float: none;
    padding: 18px 22px;
    color: #fff;
  }
  .category_list ul li a:active {
    color: #fcb85c;
  }
}
