page-sharp {
    .toolbar-background {
        background: #e8f0f8;
    }
    .scroll-content {
        padding: 16px 0 0!important;
    }
  .cart {
    color: #333333;
    float: right;
    background-color: transparent;
    box-shadow: unset;
    padding: 0 0.5em;
  }
    .bag {
        border-radius: 0;
        position: fixed;
        bottom: 0;
        margin: 0;
        background-color: #f89a27;
        color: #ffffff;
        padding: 2.2rem 2.6rem;
    }
    .cat_product {
        border: 0.5px solid #ccc;
        width: 50%;
        float: left;
        background-color: #eeeeee;
    }
    .cat_product img {
        display: block;
        margin: auto;
    }
    .cat_product p {
        margin: 5px;
    }
}
