page-signup {
    ion-list ion-item {
        // margin-bottom: 5% !important;
        background-color: transparent !important;
        color: #3f739a !important;
        border-top: none!important;
        border-bottom: 0.55px solid #3f739a !important;
    }
    .item-inner {
        border-bottom: none !important;
    }
}